{% extends 'core/base_admin.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block page_title %}Crear usuarios{% endblock %}
{% block content %}
<style>
      /* Estilos para el Popup */
      .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        width: 300px;
    }

    .popup .message {
        font-size: 16px;
        color: black;
        text-align: center;
    }

    .popup .close-btn {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: rgb(197, 8, 8);
        color: white;
        border: none;
        border-radius: 4px;
        margin-top: 20px;
        cursor: pointer;
    }

    .popup .close-btn:hover {
        background-color: #9b0909;
    }

    .color-fondo{
        background-color: #2c2d2e;
    }

    span{
        color: #e6630b;
    }
</style>

<form id="user-form" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>

<div class="popup" id="popup-success">
    <div class="message"></div>
    <button class="close-btn" onclick="closePopup()">Cerrar</button>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('user-form');
    const popup = document.getElementById('popup-success');
    const popupMessage = popup.querySelector('.message');
    const messages = document.querySelectorAll('.messages li');

    document.querySelector('.close-btn').addEventListener('click', function() {
        popup.style.display = 'none';
        window.history.replaceState({}, document.title, window.location.pathname); // Limpia la URL
    });

    if (messages.length > 0) {
        let messageText = "";
        messages.forEach(message => {
            messageText += message.textContent + "<br>";
        });
        popupMessage.innerHTML = messageText; // Muestra los mensajes en el popup
        popup.style.display = 'block'; // Muestra el popup
    }

    // Mueve las validaciones aquí
    function closePopup() {
        popup.style.display = 'none'; // Oculta el popup
        window.history.replaceState({}, document.title, window.location.pathname); // Limpia la URL
    }

    document.querySelector('.close-btn').addEventListener('click', closePopup);
});

</script>

<ul class="messages" style="display:none;">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endblock %}
