{% extends 'core/base_admin.html' %}
{% load static crispy_forms_tags %}
{% block page_title %}Eliminar trabajadores{% endblock %}
{% block content %}

<!-- Contenido principal -->
<div class="flex-fill p-3">
    <form method="post">
        {% csrf_token %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>RUT</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for trabajador in trabajadores %}
                <tr>
                    <td>{{ trabajador.nombreCompleto_t }}</td>
                    <td>{{ trabajador.rut_t }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" onclick="eliminarUsuario({{ trabajador.id_t }})" type="button">
                            <i class="bi bi-trash"></i> Eliminar
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    function eliminarUsuario(usuarioId) {
        if (confirm("¿Estás seguro de que deseas eliminar este usuario?")) {
            fetch(`/eliminarUsuario/${usuarioId}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // Incluye CSRF para seguridad
                },
            })
            .then(response => {
                if (response.ok) {
                    alert("Usuario eliminado correctamente.");
                    location.reload(); // Recarga la página
                } else {
                    alert("Hubo un error al eliminar el usuario.");
                }
            })
            .catch(error => console.error('Error:', error));
        }
    }
</script>

{% endblock %}
