{% extends 'core/base_front.html' %}
{% load static %}

{% block title %}Página Principal{% endblock %}

{% block content %}

    <div class="imagen-text-over">
        <img src="{% static 'img/tatto-event-surprise-1.jpg' %}" alt="Imagen de tatuaje">
        <div class="texto-sobrepuesto">
            <p>Aquí Encontrarás Algunos de los Trabajos Realizados por Nuestros Artistas!</p>
        </div>
    </div>

    <!-- Galería de Imágenes -->
    <div class="container my-5">
        <h1 class="text-center mb-4" style="color: #f5850f;">Nuestros Trabajos</h1>
        <div class="row g-4">
            
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src="{% static 'img/tatcar/tatuaje1.jpeg' %}" class="card-img-top" alt="Tatuaje 1">
                    <div class="card-body">
                        <p class="card-text text-center">Tatuaje de su hija en el brazo</p>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src="{% static 'img/tatcar/tatuaje2.jpeg' %}" class="card-img-top" alt="Tatuaje 2">
                    <div class="card-body">
                        <p class="card-text text-center">Tatuaje realista de un samurái</p>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src="{% static 'img/tatcar/tatuaje3.jpeg' %}" class="card-img-top" alt="Tatuaje 3">
                    <div class="card-body">
                        <p class="card-text text-center">Tatuaje de máscara en espalda alta</p>
                    </div>
                </div>
            </div>
         
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src="{% static 'img/tatcar/tatuaje4.jpeg' %}" class="card-img-top" alt="Tatuaje 4">
                    <div class="card-body">
                        <p class="card-text text-center">Tatuaje de su hijo en pantorrilla a color y realista</p>
                    </div>
                </div>
            </div>
     
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src="{% static 'img/tatcar/tatuaje5.jpeg' %}" class="card-img-top" alt="Tatuaje 5">
                    <div class="card-body">
                        <p class="card-text text-center">Tatuaje de "calaca" de Frida Kahlo</p>
                    </div>
                </div>
            </div>
         
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src="{% static 'img/tatcar/tatuaje6.jpeg' %}" class="card-img-top" alt="Tatuaje 6">
                    <div class="card-body">
                        <p class="card-text text-center">Tatuaje realista de hijo en puntillismo</p>
                    </div>
                </div>
            </div>
      
            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src="{% static 'img/tatcar/tatuaje7.jpeg' %}" class="card-img-top" alt="Tatuaje 7">
                    <div class="card-body">
                        <p class="card-text text-center">Paisaje selva de África en espalda completa</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src="{% static 'img/tatcar/tatuaje8.jpeg' %}" class="card-img-top" alt="Tatuaje 8">
                    <div class="card-body">
                        <p class="card-text text-center">Tatuaje memorial de mascota realista</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <img src="{% static 'img/tatcar/tatuaje9.jpeg' %}" class="card-img-top" alt="Tatuaje 9">
                    <div class="card-body">
                        <p class="card-text text-center">Tatuaje realista de un familiar</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock %}